body{
    font-family: sans-serif;
}

Nav{
    display: flex;
    background-color: rgb(156, 156, 156);
    padding: 20px 0;
    justify-content:space-around ;
    color: aliceblue;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40px;
    justify-content: space-between;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
}
